.wc button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

.wc button:hover,
.wc button:focus {
    background: #abb2bb;
}

.wc-menu-item{
    display: flex;
    gap:20px;
}

.wc-menu-section{
    display: flex;
    gap:20px;
    flex-direction: column;
}

.wc-menu {
    box-shadow: 0 0 0 1px #e8e8e8, 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}